
<div class="container-fluid app">
<div class="row row-centered">


<% @tweets.each do |tweet| %>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 well col-centered tweet text-center">


<h5><%= link_to tweet.user, tweet.user %></h5>


<%= link_to image_tag(tweet.image(:medium)), url_for(tweet), class:"img-thumbnail img-responsive" if tweet.image.present? %>



<h3><%= link_to tweet.body, tweet %></h3>

<% if tweet.comments.size==1 %>
<h5 class="commentsonindespage">1 comment</h5>
<% elsif tweet.comments.size>1 %>
<h5 class="commentsonindespage"><%= tweet.comments.size %> comments</h5>
<% end %>
</div>

<% end %>

</div>



<div class="row row-centered pagination-wrapper">
<%= will_paginate @tweets, renderer: BootstrapPagination::Rails %>
</div>


</div>



